.app {
  display: flex;
  width: 100%;
  height: 100vh;
}

.section {
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.section:first-child {
  border-right: 1px solid #ccc; /* Change the border style as needed */
}

.lost-item-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }
  .lost-item-group {
    width: 100%;
    margin: 10px 0;
  }
  .lost-item-input {
    width: 100%;
    padding: 20px;
  }
  .lost-item-textarea {
    width: 100%;
    padding: 10px;
  }
  .lost-item-checkbox {
    margin: 10px 0;
  }

  .lost-item-button {
    background-color: #75e6a3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .lost-item-button:hover {
    background-color: #4CAF50;
  }
  /* CSS for fade-in animation */
.fade-enter {
    opacity: 0;
    transform: scale(0.95);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  
  .fade-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 300ms, transform 300ms;
  }

  li{
    list-style-type: none;
  }

  .input-label{
    color:"#333";
    font-weight:"bold";
  }

  .item-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid #ccc;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    /* text-overflow: ellipsis; */
  }

  .item-detail{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0.75;
    word-wrap: break-word;
  }
  .card-image {
    padding: 5px;
    flex: 0.25;
    height: 100%;
    width: 100%;
    
  }
  .item-row{
    word-wrap    : break-word;
overflow-wrap: break-word;
  }